.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting content */
.content {
    margin-top: 40px 0;
}

.content p + h4 {
    margin-top: 28px;
}

/* Google Map! */
#map {
    height: 30rem;
    width: 30rem;
    margin-left: 5%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1120px;
    }

    /* Remove the padding we set earlier */
    .header,
    .content,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
  margin-top: 5%;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 350px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/1.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

.myButton {
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 15px 0;
    width: 50%;
    color: #757272;
    text-decoration: none;
    border: 1px solid #757272;
    text-transform: uppercase;
    padding: 6px 38px;
    font-weight: 400;
    font-family: "proxima-nova-condensed","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif,"proxima-nova",arial,sans-serif;
    letter-spacing: 0.06em;
    letter-spacing: 0.06em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}
.myButton:hover {
  background-color:rgba(255, 0, 0, 0.7);
  color: #fff;
}
.myButton:active {
  position:relative;
  top:1px;
}

.fanButton {
  text-align: center;
}

